<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>Request camera access for WebRTC</string>

    <key>NSMicrophoneUsageDescription</key>
    <string>Request microphone access for WebRTC</string>

    <key>NSAppleEventsUsageDescription</key>
    <string>Request screen sharing access for desktop screen sharing</string>

    <key>NSScreenCaptureUsageDescription</key>
    <string>Request screen recording access for desktop screen sharing</string>
</dict>
</plist>
